<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
    <appSettings/>
    <connectionStrings/>
    <system.web>

    </system.web>
   <!--<location path="RptContract.aspx">
    <system.web>
      <authorization>
        <allow roles="operator,admin,contracting,contracting_admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location> 
  <location path="RptContractRate.aspx">
    <system.web>
      <authorization>
        <allow roles="operator,admin,contracting,contracting_admin,hotel,hotel_report"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location> 
  <location path="RptRateAvg.aspx">
    <system.web>
      <authorization>
        <allow roles="operator,admin,contracting,contracting_admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location> 
  <location path="RptTourOp.aspx">
    <system.web>
      <authorization>
        <allow roles="operator,admin,contracting,contracting_admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RptSupplements.aspx">
    <system.web>
      <authorization>
        <allow roles="operator,admin,contracting,contracting_admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>-->

</configuration>
