<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <!--<authorization>
            <allow roles="accounting" />
        </authorization>-->
    </system.web>

  <location path="AccDocSearch.aspx">
    <system.web>
      <authorization>
        <allow roles="operator,admin,accounting,accounting_admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

</configuration>