<?xml version="1.0"?>
<!-- Maintenance.cfg -->
<configuration>

	<location path="Company.aspx">
		<system.web>
			<authorization>
				<allow roles="accounting_admin, admin, contracting_admin, invoicing_admin, mnt_company"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Hotel">
		<system.web>
			<authorization>
				<allow roles="accounting_admin, admin, contracting_admin, invoicing_admin, mnt_hotel"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="TO">
		<system.web>
			<authorization>
				<allow roles="accounting_admin, admin, contracting_admin, invoicing_admin, mnt_ttoo"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Contracting">
		<system.web>
			<authorization>
				<allow roles="admin,contracting_admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Accounting">
		<system.web>
			<authorization>
				<allow roles="accounting_admin, admin, mnt_hotel_group, mnt_ttoo_group, mnt_act_limits, can_open_period"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Accounting/AccDocClass.aspx">
		<system.web>
			<authorization>
				<allow roles="admin, accounting_admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Accounting/AccPeriodCCI.aspx">
		<system.web>
			<authorization>
				<allow roles="admin, can_open_period"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Accounting/AccApproval.aspx">
		<system.web>
			<authorization>
				<allow roles="accounting_admin, admin, mnt_act_limits"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Accounting/HotelGroup.aspx">
		<system.web>
			<authorization>
				<allow roles="accounting_admin, admin, mnt_hotel_group"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Accounting/TourOpGroup.aspx">
		<system.web>
			<authorization>
				<allow roles="accounting_admin, admin, mnt_ttoo_group"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Accounting/ExchangeRate.aspx">
		<system.web>
			<authorization>
				<allow roles="local"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Service">
		<system.web>
			<authorization>
				<allow roles="admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	
	<location path="SihotMap">
		<system.web>
			<authorization>
				<allow roles="admin, invoicing_admin, contracting_admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	
	<location path="SihotRes">
		<system.web>
			<authorization>
				<allow roles="admin, invoicing_admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	
	<location path="SihotRates">
		<system.web>
			<authorization>
				<allow roles="admin, contracting_admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

  <location path="CRS">
    <system.web>
      <authorization>
        <allow roles="admin, invoicing_admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="InvExport">
		<system.web>
			<authorization>
				<allow roles="admin, invoicing_admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Reservations">
		<system.web>
			<authorization>
				<allow roles="old"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	
	<location path="RateTransfer">
		<system.web>
			<authorization>
				<allow roles="old"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Market.aspx">
		<system.web>
			<authorization>
				<allow roles="admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="MealPlan.aspx">
		<system.web>
			<authorization>
				<allow roles="admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="RoomType.aspx">
		<system.web>
			<authorization>
				<allow roles="admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Concept.aspx">
		<system.web>
			<authorization>
				<allow roles="admin,invoicing_concepts"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Pay">
		<system.web>
			<authorization>
				<allow roles="admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="RateType.aspx">
		<system.web>
			<authorization>
				<allow roles="admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Admin">
		<system.web>
			<authorization>
				<allow roles="admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

  <location path="Admin/UserPeriod.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

</configuration>
