<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<location path="Admin">
		<system.web>
			<authorization>
				<allow roles="admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Accounting">
		<system.web>
			<authorization>
				<allow roles="admin,accounting_admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Contracting">
		<system.web>
			<authorization>
				<allow roles="operator,admin,contracting_admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>


	<location path="RateTransfer">
		<system.web>
			<authorization>
				<allow roles="admin,contracting_admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Reservations">
		<system.web>
			<authorization>
				<allow roles="operator,admin,invoicing_admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<!--<appSettings/>
    <connectionStrings/>
    <system.web>

    </system.web>
  <location path="Hotels.aspx">
    <system.web>
      <authorization>
        <allow roles="operator,admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="TO.aspx">
    <system.web>
      <authorization>
        <allow roles="operator,admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
   <location path="Market.aspx">
    <system.web>
      <authorization>
        <allow roles="operator,admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="MealPlan.aspx">
    <system.web>
      <authorization>
        <allow roles="operator,admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RoomType.aspx">
    <system.web>
      <authorization>
        <allow roles="operator,admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
    <location path="RateType.aspx">
    <system.web>
      <authorization>
        <allow roles="operator,admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
   <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Hotel">
    <system.web>
      <authorization>
        <allow roles="operator,admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Pay">
    <system.web>
      <authorization>
        <allow roles="operator,admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Contracting">
    <system.web>
      <authorization>
        <allow roles="operator,admin,contracting_admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Reservations">
    <system.web>
      <authorization>
        <allow roles="operator,admin,invoicing_admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Accounting">
    <system.web>
      <authorization>
        <allow roles="operator,admin,accounting_admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RateTransfer">
    <system.web>
      <authorization>
        <allow roles="admin,accounting_admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>-->

</configuration>
